* {
  margin: 0;
}

#pepperonies {
  /* display: none; */
}

#mushrooms {
  /* display: none; */
  opacity: 0.5;
}

#peppers {
  /* display: none; */
}

#p-circle {
  fill: brown;
}

#pepper {
  /* fill: red; */
  /* transform: translateY(10px); */
}
