* {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#text {
  font-size: 40px;
  font-weight: bold;
}

#rect {
  stroke-dasharray: 50;
  animation: move 1s ease alternate infinite;
}

@keyframes move {
  100% {
    stroke-dashoffset: 50;
  }
}
